.Login {
  width: 100%;
  height: 85%;
  /* padding-bottom: 6rem; */
}
.Login-main {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
}

.Login-main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Login-box {
  width: 100%;
  display: flex;
  background: white;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  border-radius: 0 1.4rem 1.4rem 0;
  position: relative;
}
.Login-left {
  width: 50%;
  border-radius: 1.4rem 25% 25% 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.Login-left h3 {
  font-size: 40px;
  font-weight: 600;
}
.login-left-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.login-left-box img {
  width: 25%;
  object-fit: cover;
}
.Login-left a {
  margin: 0;
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 0.5rem;
  margin-top: 1rem;
  width: 50%;
  color: white;
  text-decoration: none;
}
.Login-right {
  width: 50%;
  border-radius: 0 1.4rem 1.4rem 0;
}

/* form */
.container {
  margin: 3rem auto;
  padding: 2rem;
}
.container h2{
 text-align: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-group {
  margin-bottom: 1rem;
}

.form-label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  font-weight: 600;
  color: #4b5563;
}

.form-input {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  font-size: 0.875rem;
}

.forgot-link {
  text-align: right;
  margin-bottom: 1rem;
}

.forgot-link a {
  font-size: 0.75rem;
  color: #6b7280;
  font-weight: 600;
  text-decoration: none;
}

.forgot-link a:hover {
  color: #4b5563;
}

.submit-button {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  background: #241f5f;
  color: white;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background 0.2s;
  margin: 1rem 0;
}

.submit-button:hover {
  background: #fcb619;
  color: black;
}

.form-googleverify{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
    border-radius: 0.5rem;
    border: 1px solid #d1d5db;
    cursor: pointer;
    margin-top: 1rem;
}
.form-googleverify p{
    margin: 0 0 0 10px;
}

.login-dash{
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-dash p{
    margin: 0;
    font-size: 12px;
    color: gray;
}
.login-dash span{
    height: 1px;
    width: 100%;
    background-color: #d1d5db;
}

@media screen and (min-width: 1200px) {
  .Login-main {
    max-width: 1200px;
  }
}

@media only screen and (max-width: 680px) {
  .Login {
    width: 100%;
    height: 100%;
  }

  .Login-box {
    flex-wrap: wrap;
  }
  .Login-left,
  .Login-right {
    width: 100%;
  }
  .login-dash p{
    font-size: 11px;
    padding: 5px 0;
}
}
