.Ads {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  position: relative;
  margin: 10px;
  z-index: 99;
}

.Ads-main {
  width: 100%;
  height: 100%;
}

.Ads-image img {
  height: 30vh;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

@media screen and (min-width: 1200px) {
  /* .Banners-main {
    max-width: 1080px;
  } */
}

@media only screen and (max-width: 680px) {
  .Ads {
    height: 10vh;
  }
  .Ads-image img {
    height: 15vh;
  }
}
