.back-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 0;
  color: #597445;
}

.profile-image-section {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  margin-top: 1rem;
}

.profile-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 16px;
  /* border: 2px solid #444; */
}

.edit-avatar button {
  background: none;
  border: none;
  color: #1e90ff;
  cursor: pointer;
  font-size: 14px;
}

.profile-field {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid #444;
  cursor: pointer;
}

.field-label {
  color: #aaa;
}

.field-value {
  text-align: right;
  white-space: pre-line;
  border: none;
  background-color: transparent;
}
.field-value:focus-visible {
  border: none;
  outline: none;
}

.update-btn{
  background-color: #fdb618;
  border: none;
  border-radius: 25px;
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.bio .field-value {
  text-align: left;
  white-space: pre-line;
}