.notification-card{
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.nontification-img img{
    border-radius: 50px;
    width: 100%;
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.notification-detali p{
    margin: 0;
    font-size: 14px;
}
.notification-detali span{
    margin: 0;
    font-size: 12px;
    font-weight: 600;
}