
.donate {
  position: fixed;
  bottom: 9%;
  right: 3%;
  border-radius: 50px;
  background: #25205e;
  padding: 12px;
  z-index: 999;
}

.donate-box {
  position: fixed;
  bottom: -50%;
  left: 0;
  background-color: white;
  width: 100%;
  height: 50%;
  z-index: 9999;
  border-radius: 25px;
  padding: 1rem;
  transition: all ease-in-out 0.5s;
  overflow: auto;
  padding-bottom: 4rem;
}
.donate-box.active {
  bottom: 0%;
  transition: all ease-in-out 0.5s;
      box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
}

.donate-boxes svg {
  color: black;
  font-size: 30px;
}

.donate-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: .5rem;
}

.donate-progress-box{
  width: 100%;
  height: 8px;
  background: #f1f1f1ff;
  overflow: hidden;
  border-radius: 25px;
}
.donate-progress-box .fill {
  width: 40%;
  height: 8px;
  background: #25205e;
  overflow: hidden;
  border-radius: 25px;
}
.donate-progress-box span{
 color: black;
}
.donate-top h4{
  font-size: 20px;
}

.donate-title {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.donate-title img {
 width: 36px;
    height: 36px;
  border-radius: 50px;
  object-fit: cover;
}
.donate-title h5 {
  color: black;
  font-size: 16px;
  display: flex;
  align-items: center;

}

.donate-card {
  font-size: 12px;
  border-radius: 20px;
  border: 1px solid #f0f0f0;
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 8px;
}

.donate-pay{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: .5rem;
}
.donate-pay p{
  margin: 0;
  text-align: center;
  width: 50%;
  border-radius: 25px;
  padding: 8px;
  font-size: 16px;
}
.donate-paybtn p:first-child{
  background-color: #fdb618;
  color: black;
  font-size: 12px;
  width: 80%;
}
.donate-paybtn p:nth-child(2){
  background-color: #fdb618;
  color: black;
  font-size: 12px;
  width: 20%;
}
.donate-paybtn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    gap: 5px;
}
.donate-paybtn span{
    color: black;
    background-color: #fdb618;
    border-radius: 50px;
     /* padding: 8px; */
}

.verified{
    color: white;
    background-color: green;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 8px !important;
        margin-left: 5px !important;
}