.Home {
  width: 100%;
  height: 85%;
  /* padding-bottom: 6rem; */
}
.Home-main {
  width: 100%;
  /* padding-right: 15px;
  padding-left: 15px; */
  margin-right: auto;
  margin-left: auto;
  height: 100%;
}

@media screen and (min-width: 1200px) {
  .Home-main {
    max-width: 1200px;
  }
}

@media only screen and (max-width: 680px) {
  .Home {
    width: 100%;
    height: 100%;
    margin-bottom: 5rem;
  }
  .Home-main {
  width: 100%;
}

}
