.SearchCard {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 5px 10px;
  /* padding: 0 15px ; */
  background-color: #f0f0f0;
  border-radius: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.SearchCard-left img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 2/2;
  border-radius: 50px;
}
.SearchCard-left {
  width: 15%;
  padding: 5px;
}
.SearchCard-right {
  width: 80%;
}
.SearchCard-right h6{
  font-weight: 600;
  margin: 0;
}
.SearchCard-right h6 span{
  font-weight: 300;
  margin: 0;
  font-size: 12px;
}
.SearchCard-right p{
  margin: 0;
  font-size: 14px;
}
