.Home.other{
margin-bottom: 0;
}

.notification-box h5 {
  color: #597445;
}

.position-boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.position-box {
  /* background-color: white; */
  border-radius: 20px;
  /* padding: 1rem; */
  position: relative;
}
.position-box .career-info {
  position: absolute;
  top: 1%;
  left: 5%;
  /* background-color: #fdb618; */
  border-radius: 25px;
  padding: 5px;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.position-box .career-status {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
}
.position-box .career-status p {
  margin: 0;
  font-size: 12px;
  font-weight: 600;
  color: white;
}

.submitted-list {
  margin-top: 1rem;
}

.submitted-item {
  background-color: white;
  border-radius: 20px;
  padding: 1rem;
  margin-bottom: 10px;
  position: relative;
}

.application-status {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  font-size: 10px !important;
  background-color: #fdb618;
  color: white !important;
  border-radius: 0px 20px 0px 20px;
  padding: 3px 15px;
}
.application-status.Rejected {
  background-color: red;
}
.application-status.Accepted {
  background-color: #597445;
}
.position-box img {
  width: 100%;
  object-fit: cover;
}

.career-info {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.team-detail{
  background-color: white;
  border-radius: 20px;
  padding: 1rem;
}
.team-detail p{
  margin: 0;
  font-size: 14px;
}

.career-tooltip {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  width: 220px;
  background-color: #fff;
  color: #333;
  padding: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  z-index: 10;
  font-size: 14px;
}

.career-tooltip.Team.Ansar,
.career-tooltip.Team.Fikr {
  left: 370%;
}

/* help */
.help-ticket-boxes {
  /* background-color: white; */
  border-radius: 20px;
  /* padding: 1rem; */
}

.help-ticket-box {
  background-color: white;
  border-radius: 20px;
  padding: 1rem;
  margin-bottom: 10px;
  position: relative;
}
.help-ticket-box span {
  border-radius: 25px;
  padding: 5px 10px;
  background-color: #fdb618;
  font-size: 12px;
}
.help-ticket-box p {
  margin: 0;
  color: gray;
}

.help.application-status.Closed {
  background-color: #597445;
}
.help.application-status.Replied {
  background-color: blueviolet;
}

.page-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-heading span {
  background-color: #597445;
  border-radius: 25px;
  padding: 5px 10px;
  color: white;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-heading span svg {
  margin-right: 5px;
  width: 20px;
  height: 20px;
}
.page-heading h5 {
  display: flex;
  align-items: center;
  margin: 0;
}
.page-heading h5 button {
  padding: 0;
}

.help-detail-box {
  background-color: white;
  border-radius: 20px;
  padding: 1rem;
}
.help-detail-box p {
  margin: 0;
  font-size: 14px;
}
.help-detail-box h6 {
  color: gray;
  font-weight: 600;
  font-size: 14px;
}

/* About page */
.about-box {
  background-color: white;
  border-radius: 20px;
  padding: 1rem;
  height: 90vh;
  overflow: auto;
}
.about-box a{
  color: #597445;
}
.about-box p span {
  font-weight: 700;
}
.about-box ul {
  padding-left: 20px;
}

.page-contact {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.page-contact a{
  text-decoration: none;
}
.page-contact svg{
  width: 20px;
  height: 20px;
  margin-right: 5px;
}


.profile-header.other{
margin: 0 15px ;
}