.adhaz-box {
  display: flex;
  gap: 1rem;
  height: 120px;
  align-items: center;
  margin-top: 2.8rem !important;
  position: relative;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin: 10px 10px 0px 10px;
}

.adhan-middle{
  padding: 10px;
  margin: 0 10px;
  background-color: #597445;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.adhan-middle svg{
  color: #fdb618;
  font-size: 20px;
}

.adhan-middle h5{
  color: white;
  margin: 0;
  font-size: 16px;
  padding: 5px 1rem;
  display: flex;
  align-items: center;
}
.adhan-middle h5 svg{
  margin-right: 8px;
}

.adhan-left {
  width: 60%;
}

.adhan-left p {
  margin: 0;
  font-size: 12px;
  color: white;
}
.adhan-left h2 {
  /* font-size: 45px; */
  font-weight: 800;
  margin-bottom: 0px;
  color: #e7f0dc;
}
.adhan-left h2 span {
  font-size: 14px;
  font-weight: 300;
}
.adhan-right {
  width: 40%;
}
.adhan-right img {
  width: 35%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.Collection-box-right.adhan {
  padding: 10px;
  margin: 0 10px;
  margin-bottom: 1rem;
  background-color: #597445;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.adhan-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.adhan-card p {
  margin: 0;
  color: white;
  font-size: 14px;
  font-weight: 600;
}
.adhan-card p:last-child {
  font-weight: 300;
}
.adhan-card svg {
  color: #e7f0dc;
  font-size: 30px;
  margin: 5px 0;
}

.next-prayer {
  display: flex;
  align-items: flex-end;
  gap: 5px;
}

.next-prayer svg {
  font-size: 25px;
  margin-bottom: 5px;
  color: #e7f0dc;
}
.next-time p{
  margin: 0;
  margin-top: 10px;
}
.next-time p a{
  margin: 0;
  font-size: 12px;
  background-color: #fdb618;
  color: black;
  border-radius: 25px;
  padding: 8px 20px;
  text-decoration: none;
}
.next-time span {
  font-size: 10px;
}

.adhan-right-box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.adhan-sunrise {
  display: flex;
  align-items: center;
}
.adhan-sunrise svg {
  font-size: 18px;
  margin-right: 5px;
  width: 18px;
}

/* loader */

.Collection-box-left.adhaz-box.adhan-loading {
  height: 120px;
  width: 100%;
}
.Collection-box-right.adhan.adhan-loading {
  height: 100px;
  width: 100%;
}
.adhan-loading:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
    110deg,
    rgba(227, 227, 227, 0) 0%,
    rgba(227, 227, 227, 0) 40%,
    rgba(227, 227, 227, 0.5) 50%,
    rgba(227, 227, 227, 0) 60%,
    rgba(227, 227, 227, 0) 100%
  );
  animation: gradient-animation_2 1.2s linear infinite;
}

@keyframes gradient-animation_2 {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

@media only screen and (max-width: 680px) {
  .adhan-right img {
    width: 45%;
    position: absolute;
    bottom: 0%;
    right: 2%;
  }
}
