.Pnav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  display: none;
  border-radius: 15px 15px 0 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.Pnav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 0;
  margin: 0;
}
.Pnav ul li {
  display: flex;
  align-items: center;
    justify-content: center;
    padding: 20px 0;
}
.Pnav ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  color:  #25205E;
  cursor: pointer;
  font-size: 12px;
}
.Pnav ul li a svg{
  font-size: 25px;
  color: #25205E;
}

/*  */

.Pnav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}

.Pnav li {
    flex: 1;
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 12px;
    text-decoration: none;
    color: #333;
    position: relative;
    z-index: 1;
    font-weight: 500;
    transition: color 0.5s ease;
}

.nav-link.active{
    color: white;
}
.nav-link:focus{
    color: white;
}
.nav-link.active svg{
    color: white;
}

.Pnav .highlight {
    position: absolute;
    top: 10%;
    bottom: 0;
    height: 50px;
    width: 50px;
    background-color: #25205E;
    transition: left 0.3s ease, width 0.3s ease;
    z-index: 0;
    border-radius: 50px;
    border: none;
}
@media only screen and (max-width: 990px) {
    .Pnav{
        display: block;
    }
}
