.Search {
  width: 100%;
  height: 85%;
}
.search-image {
  position: relative;
  height: 60vh;
}
.search-image img {
  width: 100%;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.searchimg {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.searchimg img {
  width: 55% !important;
  height: auto !important;
  position: unset;
  opacity: 1 !important;
}

.search-image img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  filter: brightness(1);
  opacity: 0.3;
}
.search-image p {
  margin: 0;
  text-align: center;
}

.search-instittute-box {
  height: 60vh;
  overflow: auto;
}

@media only screen and (max-width: 680px) {
  .Search {
    width: 100%;
    height: 100%;
  }
}
