.zakat-box{
    display: flex;
    gap: 1rem;
    padding: 10px;
}

.zakat-box-left{
    width: 50%;
}
.zakat-box-right{
    width: 50%;
}
.zakat-title {
    width: 100%;
  text-align: center;
  color: #333;
  font-size: 20px;
  margin-top: 1rem;
  margin-bottom: 0;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border-radius: 20px;
  border: none;
  background-color: #f0f0f0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.result {
  background: #f0f0f0;
  padding: 15px;
  border-radius: 20px;
  /* border: 1px solid #ddd; */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  
}

.result p {
  margin: 8px 0;
}


@media only screen and (max-width: 680px) {
    .zakat-box{
    flex-wrap: wrap;
}
    .zakat-box-left,
    .zakat-box-right{
    width: 100%;
}
}