.Footer {
  position: relative;
  height: 30vh;
}

.Footer-image {
  position: absolute;
  top: 0;
  left: 0;
}
.Footer-image img {
  width: 100%;
  object-fit: cover;
  opacity: 0.4;
}

.Footer-text {
  position: absolute;
  bottom: 5%;
  left: 0;
  padding: 1rem;
  width: 100%;
  text-align: center;
}
.Footer-text h2 {
  color: #597445;
  font-size: 40px;
  font-weight: 700;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
}
.Footer-text p {
      margin: 0;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
}
