.wallet-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #597445;
  color: white;
  border-radius: 20px;
  padding: 1rem;
  margin: 10px;
}

.wallet-top-left p {
  margin: 0;
  display: flex;
  align-items: center;
}
.wallet-top-left p svg {
  font-size: 20px;
  margin-right: 5px;
}
.wallet-top-left h2 {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

.wallet-top-right p {
  background-color: #fdb618;
  border-radius: 25px;
  color: black;
  padding: 5px 20px;
  margin: 0;
}

.wallet-status span {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  font-size: 10px !important;
  background-color: green;
  color: white !important;
  border-radius: 0px 20px 0px 20px;
  padding: 3px 15px;
}

.post-button:disabled {
  background-color: #e7f0dc !important;
  color: #666 !important;
  cursor: not-allowed;
  border: 1px solid #597445;
}
.wallet-withdraw-checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.verification-success{
    width: 100%;
    text-align: center;
}
.verification-success .Ads{
    margin: 0;
    margin-top: 1rem;
            height: 15vh;
}
.verification-success .wallet-success{
    width: 30%;
    object-fit: cover;
}
.wallet-note{
        padding: 1rem;
    background: white;
    border-radius: 20px;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
}
.wallet-note h6{
    text-align: left;
    color: red;
    border-bottom: 1px solid #597445;
    padding-bottom: 5px;
}
.wallet-note ul{
        padding-left:15px;
        margin: 0;
}
.wallet-note ul li{
       text-align: left;
       font-size: 14px;
}
.wallet-note ul li a{
       font-weight: 600;
       color: black;
       text-decoration: none;
}
