.Collection {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* margin: 15px; */
}
.Collection-main {
  width: 100%;
}

.Collection-box {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  /* gap: 2rem; */
}

.Collection-box-left {
  width: 50%;
  border-radius: 20px;
  border: 1px solid #f0f0f0;
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.collection-left-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #483aa0;
  color: white;
  padding: 10px 15px;
  border-radius: 20px;
}
.collection-left-bottom p {
  margin: 0;
  font-size: 14px;
}
.collection-left-bottom p svg {
  margin-right: 8px;
  font-size: 20px;
  color: #fdb618;
}
.collection-left-bottom h6 a {
  color: #fdb618;
  margin: 0;
  font-size: 14px;
  text-decoration: none;
}
.collection-left-bottom h6 {
  margin: 0;
}
.Collection-box-right {
  width: 50%;
  /* display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem; */
  background-color: #f0f0f0;
  border-radius: 20px;
  margin: 0 10px;
  padding: 10px;
}

.Collection-box-right.institute {
  display: flex;
  gap: 10px;
  margin: 0;
  background: #ffffff;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(194, 194, 194, 1) 15%,
    rgba(194, 194, 194, 1) 70%,
    rgba(255, 255, 255, 1) 100%
  );
}

.Collection-box-right-box{
  width: 100%;
  /* height: 100%; */
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
}

.collection-right-card {
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.Collection-box-right h5{
  padding: 10px 10px 0 10px;
}
.Collection-box-right-box p {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 5px;
  margin-bottom: 8px;
}
.Collection-box-right-box p svg {
  color: black;
  font-size: 50px;
  padding: 5px;
}
.Collection-box-right-box span {
  text-align: center;
}

.institute {
  flex-direction: column;
}

.View-more-transatction {
  background-color: #483aa0;
  border-radius: 20px;
  padding: 10px 20px;
  color: white;
  margin-top: 0.5rem;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Collection-box-right-pay{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  gap: 1rem;
}

.Collection-card-pay{
  border-radius: 50px;
  background-color: #fdb618;
  padding: 10px 15px;
  width: 90%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.Collection-card-pay p{
  margin: 0;
  font-size: 16px;
  display: flex ;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
.Collection-card-pay p svg{
  font-size: 25px;
  margin-right: 5px;
}

.Collection-card-pay.send{
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #25205e;
  color: white;
}
.Collection-card-pay.send a svg{
  font-size: 25px;
  margin-right: 0px;
  color: white;
}

@media screen and (min-width: 1200px) {
  .Banners-detail {
    max-width: 1080px;
  }
}

@media only screen and (max-width: 680px) {
  /* .Collection {
    margin: 10px;
  } */
  .Collection-box {
    flex-wrap: wrap;
    gap: 1rem;
  }
  .Collection-box-left {
    width: 100%;
    margin: 10px;
  }
  .Collection-box-right {
    width: 100%;
    padding: 10px;
  }
  .Collection-box-right.institute {
    gap: 8px;
    background: #ffffff;
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(194, 194, 194, 1) 15%,
      rgba(194, 194, 194, 1) 70%,
      rgba(255, 255, 255, 1) 100%
    );
  }
}
