.Collection {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 15px;
}
.Collection-main {
  width: 100%;
}

.Collection-box {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  gap: 2rem;
}

.Collection-box-left {
  width: 50%;
  border-radius: 8px;
  border: 1px solid #f0f0f0;
  padding: 1rem;
}

.collection-left-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #483AA0;
  color: white;
  padding: 10px;
  border-radius: 8px;
}
.collection-left-bottom p {
  margin: 0;
  font-size: 14px;
}
.collection-left-bottom p svg {
  margin-right: 8px;
  font-size: 20px;
  color: #f0f0f0;
}
.collection-left-bottom h6 {
  color: #f0f0f0;
  margin: 0;
}
.Collection-box-right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.collection-right-card {
  background-color: #f0f0f0;
  /* border: 1px solid #FDB618; */

    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.collection-right-card p {
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 5px;
  margin-bottom: 8px;
}
.collection-right-card p svg {
  color: black;
  font-size: 35px;
  padding: 5px;
}

@media screen and (min-width: 1200px) {
  .Banners-detail {
    max-width: 1080px;
  }
}

@media only screen and (max-width: 680px) {
  .Collection {
    margin: 10px;
  }
  .Collection-box {
    flex-wrap: wrap;
    gap: 1rem;
  }
  .Collection-box-left,
  .Collection-box-right {
    width: 100%;
  }
}
