.Banners {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36vh;
  position: relative;
  margin: 10px;
  overflow: hidden;
}

.Banners-main {
  width: 100%;
  height: 100%;
}

.banner-slider {
  height: 100%;
}

.slick-list {
  height: 100%;
}

.banner-image {
  height: 100%;
  border-radius: 20px;
}
.banner-image img {
  height: 35vh;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;

}

@media screen and (min-width: 1200px) {
  /* .Banners-main {
    max-width: 1080px;
  } */
}

@media only screen and (max-width: 680px) {
  .Banners {
    height: 21vh;
  }
  .banner-image img {
    height: 20vh;
  }
}
