.Feeds-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.slick-slide img:focus-visible {
  outline: none;
}

@media only screen and (max-width: 680px) {
  .Feeds-box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0rem;
  }
}
